*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main{
    width: 100vw;
    height: 90vh;
    background-color: #444;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.navigation{
    grid-column: 1/3;
    grid-row: 1/13;
    background-color: #eee;
    border-right: 5px solid royalblue;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu .list-item{
    width: 15vw;
    height: 5vh;
    background-color: #ddd;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.menu .list-item.active{
    background-color: #bbb;
}

.menu .list-item.active:hover{
    background-color: #bbb;
}

.menu .list-item:hover{
    background-color: #ccc;
    cursor: pointer;
}

.nav-img{
    width: 18px;
    height: 18px;
}

.section{
    grid-column: 4/13;
    grid-row: 1/13;
    margin: 30px;
    background-color: #333;
    color: white;
    display: none;
    position: relative;
}

.section.active{
    display: block;
}

.klasy{
    position: absolute;
    top: -12.5px;
    left: 0;
    list-style: none;
    display: flex;
    gap: 5px;
}

.klasa{
    width: 100px;
    height: 25px;
    border-radius: 5px 5px 0px 0px;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.klasa:hover{
    background-color: #777;
}

.add-user{
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid royalblue;
    outline: none;
    cursor: pointer;
    height: 100px;
    width: 50px;
    left: -50px;
    top: 50px;
}

.add-user img{
    width: 40px;
    height: 40px;
    z-index: 1;
}

.content{
    position: relative;
    height: 90vh;
    padding: 5px;
    overflow-x: scroll;
}

.article{
    display: none;
}

.article.active{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form input:not(.password-show){
    width: 250px;
    height: 35px;
    padding: 5px;
    border: none;
    border-bottom:3px solid royalblue;
    outline: none;
}

form select{
    width: 250px;
    height: 30px;
    background-color: #444;
    border: 1px solid royalblue;
    outline: none;
    color: white;
}

form select option:checked{
    background-color: #666;
}

.password-section{
    width: 250px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-password{
    height: 35px;
    width: 50px;
    color: white;
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 3px solid royalblue;
    cursor: pointer;
}

.random-password:hover{
    background-color: #ddd;
}

.send-user-data,.edit-user-data-btn{
    border: none;
    outline: none;
    width: 250px;
    height: 35px;
    color: white;
    background-color: royalblue;
    cursor: pointer;
}

.users{
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.users .option{
    width: 12vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.option{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:first-child{
    justify-content: left;
    padding-left: 15px;
}

.option:nth-child(2){
    justify-content: left;
    padding-left: 30px;
}

.users-item{
    width: 70vw;
    height: 4.5vh;
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
}

.users-item:hover{
    background-color: #555;
}

.btns-section {
    width: 5vw;
    height: 4.5vh;
    display: flex;
}

.btn{
    width: 35px;
    height: 4.5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.btn:last-child{
    border-radius: 0px 5px 5px 0px;
}

.edit-btn:hover{
    background-color: royalblue;
}

.delete-btn:hover{
    background-color: rgba(249, 61, 61);
}

.edit-section-user{
    display: none;
}

.edit-section-user.active{
    display: block;
    width: 25vw;
    height: 45vh;
    background-color: #222;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 999;
    left: 22.5vw;
    top: 10vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.close-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-stats-chart{
    display: none;
}

.user-stats-chart.active{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.send-klasa-stats{
    width: 250px;
    height: 35px;
    background-color: #444;
    border-radius: 2px;
    border: 2px solid royalblue;
    color: white;
    cursor: pointer;
}

.send-klasa-stats:hover{
    background-color: #555;
}

.users-nav{
    width: 70vw;
    height: 5vh;
    background-color: #222;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.center-stats{
    width: 100vw;
    height: 75vh;  
}

.delete-section{
    display: none;
}

.delete-section.active{
    display: block;
    width: 20vw;
    height: 20vh;
    background-color: #222;
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
}

.info-delete{
    width: 20vw;
    padding: 10px 50px 0px 50px;
    text-align: center;
}

.btn-sec-del{
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
}


.btn-sec-del button{
    width: 7.5vw;
    height: 6.5vh;
    background-color: #444;
    border-radius: 0px;
}


.btn-sec-del .yes{
    background-color: rgb(173, 0, 0);
    color: white;
    border-radius: 10px;
}

.btn-sec-del .yes:hover{
    background-color: rgb(202, 0, 0);
}

.btn-sec-del .no{
    border-radius: 10px;
    background-color: royalblue;
    color: white;
}

.btn-sec-del .no:hover{
    background-color: rgb(71, 115, 246);
}

@media only screen and (max-width: 1000px) {
    .main{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .klasy{
        display: flex;
        width: 100vw;
        height: 10vw;
        top: -12.5px;
        left: 0;
        justify-content: center;
    }

    .navigation .menu{
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .menu .list-item{
        width: 30vw;
        margin-bottom: 5vw;
    }

    .user-manage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin: 0;
    }

    .klasy{
        width: 80vw;
        flex-wrap: wrap;
    }

    .klasy .klasa{
        width: calc((100vw/7) - 5vw);
    }
    
    .content{
        width: 100vw;
        height: 80vh;
    }

    .section{
        margin: 0;
        margin-top: 30px;
    }

    .users{
        width: 85vw;
    }

    .user-item{
        width: 85vw;
    }

    .btns-section{
        width: 10vw;
    }

    .users-item{
        width: 85vw;
        font-size: 0.7rem;
    }

    .users-nav{
        width:85vw;
        justify-content: space-between;
    }

    .add-user{
        position: relative;
        border: none;
        border-radius: 10px;
        height: 7.5vh;
        background-color: #444;
        top: 0vh;
        left: -7.5vw;
        z-index: 999;
    }

    .add-user:hover{
        background-color: #555;
    }

    .user-stats-chart{
        flex-direction: column;
        align-items: reverse;
        gap: 5vw;
        padding: 5vh;
    }

    .center-stats{
        width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    .klasy{
        display: flex;
        width: 100vw;
        height: 10vw;
        top: -12.5px;
        left: 0;
        justify-content: center;
    }

    .klasy .klasa{
        width: calc((100vw/7) - 5vw);
    }

    .klasy .klasa:first-child{
        width: 20vw;
    }

    .menu .list-item{
        justify-content: center;
    }

    .menu .list-item span{
        display: none;
    }

    .menu .list-item{
        width: 25vw;
        margin-bottom: 5vw;
    }

    .option:not(.user-index, .user-name){
        display: none;
    }

    .users-nav{
        justify-content: space-between;
    }

    .user-name{
        width: 50vw;
    }

    .btns-section{
        margin-right: 5vw;
    }
}

@media only screen and (max-width: 600px) {
    .klasy .klasa{
        width: calc((100vw/7) - 5vw);
    }

    .menu .list-item{
        justify-content: center;
    }

    .menu .list-item span{
        display: none;
    }

    .menu .list-item{
        width: 20vw;
        margin-bottom: 5vw;
    }

    .option:not(.user-index, .user-name){
        display: none;
    }

    .users-nav{
        justify-content: space-between;
    }
}