*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #333;
    padding: 0px 10px;
}

.nav{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

@media only screen and (max-width: 1200px) {
   .nav{
        width: 60vw;
   }

}

@media only screen and (max-width: 800px) {
    .nav{
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    .nav{
        width: 80vw;
        gap: 5vw;
        padding: 0px 50px;
    }
}