*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #333;
    padding: 0px 10px;
}

.nav{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;s
}

.menu{
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
   .header{
        justify-content: left;
        gap: 25vw;
        font-size: 0.7rem;
   }

   .nav{
    gap: 15vw;
   }
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 600px) {
    .nav{
        padding-left: 50px;
    }
}