@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #444;
}

.header{
    width: 100vw;
    height:10vh;
    display:flex;
    padding-left: 1vw;
    justify-content: left;
    align-items: center;
    gap:50px;
    background-color: #eee;
    position: fixed;
}

.logo img{
    width: 100px;
    height: 50px;
}

a{
    color: black;
    text-decoration: none;
}

.navigation{
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .bar{
    display: flex;
}

.btn-bar{
    display: block;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
}

.btn-bar:hover:not(.logout){
    background-color:#ccc;
}

.logout:hover{
    background-color: red;
    color: white;
}

.login-img{
    width: 15px;
    height: 15px;
}

.sidebar{
    width: 465px;
    height: 90vh;
    background-color: white;
    border-right: 5px solid royalblue;
    transition: 300ms ease-in-out;
    position: fixed;
    left: 0;
    top: 10%;
}

.sidebar.active{
    transform: translateX(-460px);
}

.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main{
    width: 70vw;
    height: auto;
    margin-top: 15vh;
    margin-left: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main::-webkit-scrollbar {
    display: none;
}

.result{
    width:500px;
    height: 10vh;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 25px;
    margin-top: 15px;
}

.result.zdany{
    color: green;
}

.result.niezdany{
    color: red;
}

.question-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    height: auto;
}

.btn-back{
    display: none;
}

.btn-back.active{
    display: block;
}

.btn-forward.active{
    display: none;
}

.btn-forward{
    display: block;
}

.nav-sidebar{
    height: 35px;
    width: 465px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
    margin-left: 65px;
}

.nav-sidebar .btn{
    width: 50px;
    height: 35px;
    color: white;
    background-color: royalblue;
    border-right: 1px solid royalblue;
    border-top: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
    border-left: none;
    outline:none;
    cursor: pointer;
}

.copyright{
    font-size: 0.7rem;
    position: absolute;
    top: 95%;
    left: 35%;
}

.list{
    list-style: none;
}

.side-content h2{
    padding-left: 5px;
}

ol > li{
    font-weight: bold;
    margin: 10px 0px;
    padding-left: 10px;
}

ol > li > ul > li, .db-btn{
    font-weight: normal;
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
    margin-top: 5px;
    width: 440px;
}

ol > li > ul > li:hover{
    background-color: #ddd;
}

.db-btn:hover{
    background-color: #ddd;
}

.db-btn{
    margin-left: 10px;
}

.pytanie{
    width: auto;
    height: auto;
    background-color: #666;
    padding: 25px 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.pytanie .title{
    width: 775px;
    height: auto;
    background-color: #333;
    padding: 50px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
}

.img{
    margin-top: 15px;
}

.answers{
    width: 775px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-list{
    list-style: none;
}

.answer{
    width: 775px;
    margin-bottom: 5px;
    padding: 20px 20px;
    background-color: #444;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.answer p {
    word-wrap: break-word;
}

.answer.active{
    background-color: green;
}

.answer:last-child{
    border-radius: 0px 0px 10px 10px;
}

.answer.odp{
    background-color: #888;
}

.answer.odpgood{
    background-color: green;
}

.answer.odpbad{
    background-color: red;
}

.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.losuj{
    width: 250px;
    height: 75px;
    color: white;
    padding: 10px;
    background-color: royalblue;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.losuj:hover{
    background-color: rgb(55, 91, 199);
    box-shadow: 5px 5px 0px rgb(109, 146, 255);
}

.sprawdz{
    width: 250px;
    height: 75px;
    color: white;
    padding: 10px;
    background-color: royalblue;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.sprawdz.schowaj{
    display: none;
}

.sprawdz:hover{
    background-color: rgb(55, 91, 199);
    box-shadow: 5px 5px 0px rgb(109, 146, 255);
}

/* PROGRESS.PHP */

.nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* PROGRESS.PHP */

@media (orientation:portrait) {
    body{
        overflow-x: hidden;
    }

    .header{
        width: 100vw;
        position: relative;
        font-size: .5rem;
    }

    .header h1{
        display: none;
    }

    .navigation {
        width: 60vw;
    }

    .sidebar{
        width: 100vw;
        height: 90vh;
        background-color: white;
        position: relative;
        border: none;
        padding: 25px 0px;
    }
    
    .sidebar.active{
        transform: translateX(0px);
    }

    ol > li > ul > li, .db-btn{
        font-weight: normal;
        padding: 10px;
        cursor: pointer;
        background-color: #eee;
        margin-top: 5px;
        width: 95vw;
    }

    .nav-sidebar{
        display: none;
    }
    

    .center{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0;
    }

    .main{
        margin-top: 100px;
        width: 100vw;
        height: auto;
        margin-left: 0px;
    }

    .pytanie{
        height: auto;
        padding: 10px 0px;
        font-size: 0.8rem;
    }

    .answers{
        width: 100vw;
        height: 45vh;
        margin-bottom: 0;
    }

    .pytanie .title{
        width: 90vw;
        margin-top: 0;
        padding: 25px;
    }

    .answer{
        width: 90vw;
    }

    .img img{
        width: 300px;
        margin-top: 0;
    }
}