@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: white;
    overflow: hidden;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.login-form{
    width: 35vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px -5px 0px rgba(0,0,0,0.5);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login-form input:not(#show-passwd), label{
    padding: 10px;
    width: 250px;
    outline: none;
}

.login-form button{
    width: 150px;
    padding: 10px;
    color: white;
    background-color: royalblue;
    border: none;
    cursor: pointer;
}

.login-form button:hover{
    background-color: #527af2;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('../img/svg.png');
    filter: blur(10px);
}

.info-login{
    opacity: 0;
    width: 35vw;
    height: 10vh;
    background-color: rgb(255, 180, 180);
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 77, 77);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 0px rgb(255, 116, 116);
}

.info-login.active{  
    opacity: 1;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media only screen and (max-width: 1200px) {
    .login-form{
        width: 50vw;
    }

    .info-login{
        width: 50vw;
    }
}


@media only screen and (max-width: 800px) {
    .login-form{
        width: 60vw;
    }

    .info-login{
        width: 60vw;
    }
}

@media only screen and (max-width: 600px) {
    .login-form{
        width: 80vw;
    }

    .info-login{
        width: 80vw;
    }
}