@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #444;
}

.header{
    grid-column: 1/13;
    grid-row: 1/2;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    left: 0%;
    top:0%;
}

.header .list{
    display: flex;  
    list-style: none;
}

.header .list .list-item{
    padding: 25px;
    border-bottom: 5px solid royalblue;
    cursor: pointer;
    background-color: #666;
    width: 175px;
    text-align: center;
    transition: 300ms ease-in-out;
    font-size: 1.25rem;
    color: white;
}

.header .list .list-item:hover{
    background-color: #777;
}

.obrazek.active{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}

.main{
    grid-column: 4/11;
    grid-row: 3/13;
    padding: 10px;
}


.pytanie{
    width: auto;
    height: auto;
    background-color: #555;
    padding: 25px 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.title{
    width: 775px;
    height: auto;
    background-color: #333;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
}

.img{
    margin-top: 15px;
}

.answers{
    width: 775px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-list{
    list-style: none;
}

.answer{
    width: 775px;
    height: 62.5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #444;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.answer.active{
    background-color: green;
}

.answer:last-child{
    border-radius: 0px 0px 10px 10px;
}

.show{
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    width: 250px;
    color: white;
    border: none;
    background-color: royalblue;
}

.show:hover{
    background-color: rgb(74, 113, 230);
}

.rate{
    display: none;
}

.level{
    font-size: 1.25rem;
    margin-right: 650px;
}

.pivot{
    width: 100px;
    height: 10px;
    background-color: royalblue;
}

@media (orientation:portrait) {
    .header{
        padding-left: 0;
    }
    .header .list .list-item{
        width: 33.3vw;
    }
    .main{
        margin-top: 100px;
        grid-column: 1/13;
        grid-row: 3/13;
        width: 100vw;
        height: 100vh;
    }
    .pytanie{
        height: auto;
        font-size: 0.8rem;
    }
    .answers{
        width: 100vw;
        height: 45vh;
        margin-bottom: 0;
    }
    .title{
        width: 90vw;
        margin-top: 0;
    }
    .answer{
        width: 90vw;
    }
    .img img{
        width: 300px;
        margin-top: 0;
    }
}