.user-ezam-list{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    color: white;
    background-color: #444;
    overflow-y: scroll;
}

.exam{
    width: 30vw;
    height: 4vh;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.exam .input {
    margin-right: 15px;
}

.exam:first-child {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    background-color: #666;
}

.exam-results{
    width: 15vw;
    height: 8vh;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #555;
    position: absolute;
    top: 15vh;
    left: 8vw;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
    .exam{
        width: 80vw;
    }

    .exam:first-child{
        margin-top: 15vh;
    }

    .exam-results{
        width: 80vw;
    }
    
}

@media only screen and (max-width: 800px) {
    .exam{
        width: 80vw;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 600px) {
    .exam{
        width: 80vw;
        font-size: 0.5em;
    }
}